.action-container {
    position: fixed;
    top: 118px;
    right: 12px;
    white-space: nowrap;
    width: 48px;
    padding: 6px 12px;
    border-radius: 18px;
    border: 2px solid #f9fafd;
    z-index: 10;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    background-color: #444;
}

.action-container .action-container-main {
    transition: all 200ms ease-in-out;
    margin: auto 48px auto 0;
}

.action-container svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
}

svg.action-mail {
    width: 24px;
    height: 24px;
}

.action-container :nth-child(2) {
    margin-right: 6px;
}

.action-container:hover {
    width: 78px;
}
.action-container:hover .action-container-main {
    margin: auto 28px auto -48px;
}

.close-modal {
    all: unset;
    position: absolute;
    top: 3px;
    right: 0;
    display: inline-block;
    padding: 3px 8px;
    color: #444;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #444;
    border-radius: 50%;
}

#contactModal {
    position: relative;
    margin: auto;
    top: 24px;
}

#contactModal .container {
    margin-top: 17px;
    z-index: 0;
}
